<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ir.mbaas.pushnotification" >

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <permission android:name="ir.mbaas.pushnotification.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="ir.mbaas.pushnotification.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:name=".Application"
        android:icon="@mipmap/mbaas"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver" android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="ir.mbaas.pushnotification" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="ir.mbaas.push.token"
            android:value="ea24fe2a_967440107484" />
    </application>

</manifest>
